@page "/"
@using UT_GraphicsDemo.Data;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input name="parameterUserInput" placeholder="Type anything here..." @bind="@Parameter"/>
<input name="messageUserInput" placeholder="Type anything here..." value="Message"/>
<button @onclick="appendText">JS Interop call</button>

<div id="p-container"></div>

@inject IJSRuntime JS
@code {
    public string? Parameter { get; set; }

    public async void appendText()
    {
        await JS.InvokeAsync<string>("myJsMethod",Parameter);
    }
}

<button @onclick="draw">draw</button>

@code {
    public async void draw()
    {
        await Task.Run(() =>
        {
            //
            Console.WriteLine("I clicked draw button. Called draw method and display in the server output");
            new SkiaSharpDemoService().DrawSomething();
        });
    }
}

<img src="Images/Output/Test.png" />